{% extends 'form_div_layout.html.twig' %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul class="form-error">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <ul {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <li>
                    {{ form_widget(child) }}
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock choice_widget_expanded  %}

{% block checkbox_widget %}
    {% spaceless %}
        <label for="{{ id }}" class="checkbox-inline">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{ label|trans }}
        </label>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block plain_text_widget %}
    {% spaceless %}
        <strong>{{ value }}</strong>
        {% if help is defined %}
            <span class="help">{{ help }}</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}