{% extends 'form_div_layout.html.twig' %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul class="form-error">
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{# add bootstrap form-control and default size #}
{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        {% set size = size|default('input-sm') %}
        {% set theme_class = ' form-control ' ~ size ~ ' ' %}

        {% if attr.class is defined %}
            {% set theme_class = attr.class ~ theme_class %}
        {% endif %}

        {% set attr = attr|merge({class: theme_class}) %}

        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block submit_widget %}
    {% spaceless %}
        {% set type = type|default('submit') %}
        {% set size = size|default('btn-sm') %}
        {% set theme_class = ' btn btn-submit ' ~ size ~ ' ' %}
        {% set label = label|default('ui.default.button.submit'|trans) %}

        {% if attr.class is defined %}
            {% set theme_class = attr.class ~ theme_class %}
        {% endif %}

        {% set attr = attr|merge({class: theme_class}) %}
        {{ block('button_widget') }}
    {% endspaceless %}
{% endblock submit_widget %}

{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"
        {%- if read_only %} readonly="readonly"{% endif -%}
        {%- if disabled %} disabled="disabled"{% endif -%}
        {%- if required %} required="required"{% endif -%}
        {%- if max_length %} maxlength="{{ max_length }}"{% endif -%}
        {%- if pattern %} pattern="{{ pattern }}"{% endif -%}
        {%- for attrname, attrvalue in attr -%}
            {{- " " -}}
            {%- if attrname in ['placeholder', 'title'] -%}
                {{- attrname }}="{{ attrvalue|trans({}, translation_domain) }}"
            {%- elseif attrvalue is sameas(true) -%}
                {{- attrname }}="{{ attrname }}"
            {%- elseif attrvalue is not sameas(false) -%}
                {{- attrname }}="{{ attrvalue }}"
            {%- endif -%}
        {%- endfor -%}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <ul class="checkbox-list" {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <li>
                    {{ form_widget(child) }}
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock choice_widget_expanded  %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% if required and empty_value is none and not empty_value_in_choices and not multiple %}
            {% set required = false %}
        {% endif %}
        {% set size = size|default('input-sm') %}
        <select class="form-control {{ size }}" {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
            {% if empty_value is not none %}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
            {% endif %}
            {% if preferred_choices|length > 0 %}
                {% set options = preferred_choices %}
                {{ block('choice_widget_options') }}
                {% if choices|length > 0 and separator is not none %}
                    <option disabled="disabled">{{ separator }}</option>
                {% endif %}
            {% endif %}
            {% set options = choices %}
            {{ block('choice_widget_options') }}
        </select>
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block textarea_widget %}
    {% spaceless %}
        {% set size = size|default('input-sm') %}
        <textarea class="form-control {{ size }}" {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}

{% block checkbox_widget %}
    {% spaceless %}
        <label for="{{ id }}" class="checkbox-inline">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {{ label|trans({}, translation_domain) }}
        </label>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block plain_text_widget %}
    {% spaceless %}
        <strong>{{ value }}</strong>
        {% if help is defined %}
            <span class="help">{{ help }}</span>
        {% endif %}
    {% endspaceless %}
{% endblock %}