<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Dk²</a>
        </div>

        <div class="collapse navbar-collapse">

            {% if is_granted('ROLE_MASTER_RULESET') %}
                {{ include('DkSystemBundle:Board:menu_role_master_ruleset.html.twig') }}
            {% endif %}

            {% if is_granted('ROLE_MASTER') %}
                {{ include('DkSystemBundle:Board:menu_role_master.html.twig') }}
            {% endif %}

            {% if is_granted('ROLE_PLAYER') %}
                {{ include('DkSystemBundle:Board:menu_role_player.html.twig') }}
            {% endif %}

            <ul class="nav navbar-nav pull-right">
                <li class="active">
                    <a href="{{ path('player_account') }}">{{ app.user }} <small>{{ app.user.email }}</small></a>
                </li>
                <li>
                    <a href="{{ path('logout') }}" class="btn btn-xs">
                        <span class="glyphicon glyphicon-off"></span>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>