<div class="list-group ">
    <div class="list-group-item active-reverse">
        <span class="list-group-item-heading">
            <a href="{{ path('player_account') }}">{{ app.user }}</a>
            <a href="{{ path('logout') }}" class="pull-right btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-off"></span>
            </a>
            <br />
            <small>{{ app.user.email }}</small>
        </span>
    </div>

    {% if is_granted('ROLE_MASTER_RULESET') %}
        {{ include('DkSystemBundle:Board:menu_role_master_ruleset.html.twig') }}
    {% endif %}
    
        
    {% if is_granted('ROLE_MASTER') %}
        {{ include('DkSystemBundle:Board:menu_role_master.html.twig') }}
    {% endif %}
    

    {% if is_granted('ROLE_PLAYER') %}
        {{ include('DkSystemBundle:Board:menu_role_player.html.twig') }}
    {% endif %}    
    
</div>    