<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!--<link rel="stylesheet" href="{{ asset('css/bootstrap-theme-slate.css') }}">-->
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <script type="text/javascript" src="{{ asset('components/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
