{% extends 'DkSystemBundle::board.html.twig' %}
{% trans_default_domain 'ruleset' %}

{% set current_page = 'assets' %}

{% block title %}
    {{ 'ruleset.assets.update.header' | trans({'%name%': form.vars.value.name }) }}
{% endblock %}


{% form_theme form _self %}

{% block _ruleset_assets_entry_widget %}
    <div class="form-group col-xs-6">
        <h3>{{ form.vars.value.name }}</h3>
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_label(form.useLimitation) }}
        {{ form_widget(form.useLimitation) }}
        {{ form_label(form.preRequisite) }}
        {{ form_widget(form.preRequisite) }}
        {{ form_label(form.useCost) }}
        {{ form_widget(form.useCost) }}
        {{ form_widget(form.description, {attr: {style:"width: 100%;"}}) }}
        {{ form_errors(form.description) }}
   </div>
{% endblock %}

{% block board_content %}

    {{ include('DkSystemBundle:Ruleset:menu.html.twig') }}    
    
    {{ form_start(form, {attr: {role: 'form', class: 'form-inline'}}) }}
        
        {% for asset in form.assets %}
            {{ form_widget(asset) }}
        {% endfor %}
      
    {{ form_end(form) }}

{% endblock %}