{% extends 'DkSystemBundle::board.html.twig' %}

{% block title %}
    Votre compte
{% endblock %} 

{% block board_content %}

    {{ form_start(form) }}

        <div>
            {{ form_label(form.nickname) }}
            {{ form_widget(form.nickname) }}
                        {{ form_errors(form.nickname) }}
        </div>
    
    {{ form_end(form) }}

{% endblock %}