{% block body %}
    <section id="login">
        <h2 class="page-header">
           Se connecter
        </h2>
        {% if error %}
            <div>{{ error.message | trans({}, 'security') }}</div>
        {% endif %}
        
        {{ form_start(login_form, {action: path('login_check'), method: 'POST'}) }}
        
            {{form_label(login_form.email) }}
            {{form_widget(login_form.email) }}
            
            {{form_label(login_form.password) }}
            {{form_widget(login_form.password) }}
                
            {{form_widget(login_form.submit) }}
            
        {{ form_end(login_form) }}
        
    </section>
{% endblock %}