{% block body %}
    <section id="register">
        <h2 class="page-header">
           Ouvrir un compte
        </h2>
       {{ form_start(register_form, {action: path('login_check'), method: 'POST', role: 'form'}) }}
        
            <div class="form-group">
                {{ form_label(register_form.nickname) }}
                {{ form_errors(register_form.nickname) }}
                {{ form_widget(register_form.nickname, {attr: {class: "form-control" }}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(register_form.email) }}
                {{ form_errors(register_form.email) }}            
                {{ form_widget(register_form.email, {attr: {class: "form-control" }}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(register_form.account_type) }}
                {{ form_widget(register_form.account_type, {attr: {class: "form-control" }}) }}
            </div>
             
            {{form_widget(register_form.submit, {attr: {class: 'btn btn-primary'}}) }}
            
        {{ form_end(register_form) }}
        
    </section>
{% endblock %}