{% block body %}
    <section id="register">
        <h2 class="page-header">
           Ouvrir un compte
        </h2>
        
       {{ form_errors(register_form) }} 
        
       {{ form_start(register_form, {action: path('homepage'), method: 'POST', role: 'form'}) }}
        
            <div class="form-group">
                {{ form_label(register_form.nickname) }}
                {{ form_errors(register_form.nickname) }}
                {{ form_widget(register_form.nickname, {attr: {class: "form-control" }}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(register_form.email) }}
                {{ form_errors(register_form.email) }}            
                {{ form_widget(register_form.email, {attr: {class: "form-control" }}) }}
            </div>

            <div class="form-group">
                {{ form_label(register_form.password) }}
                {{ form_errors(register_form.password) }}            
                {{ form_widget(register_form.password, {attr: {class: "form-control" }}) }}
            </div>
            
            <div class="form-group">
                {{ form_label(register_form.roles) }}
                {{ form_widget(register_form.roles, {attr: {class: "form-control" }}) }}
            </div>
             
            {{form_widget(register_form.submit, {attr: {class: 'btn btn-primary'}}) }}
            
        {{ form_end(register_form) }}
        
    </section>
{% endblock %}