{% extends 'DkSystemBundle::board.html.twig' %}

{% block title %}
    Modification du système de règles {{ form.vars.value.name }}
{% endblock %}

{% block board_content %}
 
    <a href="{{ path('manage_ruleset_playable_races', {id: form.vars.value.id }) }}">Liste des races</a>
    <a href="{{ path('manage_ruleset_skills', {id: form.vars.value.id }) }}">Liste des compétences</a>
    <a href="">Liste des atouts</a>
    
    
    {{ form_start(form, {attr: {role: 'form', class: 'form-horizontal'}}) }}
        
      
    {{ form_end(form) }}


{% endblock %}