{% trans_default_domain 'ruleset' %}

<ul class="nav nav-tabs">
    <li class="{{ current_page == 'ruleset' ? 'active' }}">
        <a href="{{ path('manage_ruleset', {id: form.vars.value.id }) }}">{{ 'ruleset'|trans }}</a>
    </li>
    <li class="{{ current_page == 'races'  ? 'active' }}">
        <a href="{{ path('manage_ruleset_playable_races', {id: form.vars.value.id }) }}">{{ 'ruleset.playableRaces'|trans }}</a>
    </li>
    <li class="{{ current_page == 'skills' ? 'active' }}">
        <a href="{{ path('manage_ruleset_skills', {id: form.vars.value.id }) }}">{{ 'ruleset.skills'|trans }}</a>
    </li>
    <li class="{{ current_page == 'assets' ? 'active' }}">
        <a href="{{ path('manage_ruleset_assets', {id: form.vars.value.id }) }}">{{ 'ruleset.assets'|trans }}</a>
    </li>
</ul>
<p></p>

