{% extends 'DkSystemBundle::board.html.twig' %}

{% block title %}
    {% if  form.vars.value.id %}
        Campagne {{ form.vars.value.name }} <small>{{ campaign.ruleset }}</small>
    {% else %}
        Création d'une nouvelle campagne
    {% endif %}
{% endblock %} 

{% block board_content %}

    {{ form_start(form) }}

    {% if form.ruleset is defined %}
        <div>
            {{ form_label(form.ruleset) }}
            {{ form_widget(form.ruleset ) }}
            {{ form_errors(form.ruleset) }}
        </div>
    {% endif %}

        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {help: "rr"}) }}
            {{ form_errors(form.name) }}            
        </div>
        
        <div>
            {{ form_label(form.playerCharacters) }}
            {{ form_widget(form.playerCharacters) }}
            {{ form_errors(form.playerCharacters) }}            
        </div>

    {{ form_end(form) }}

{% endblock %}