{% extends 'DkSystemBundle::board.html.twig' %}

{% block title %}
    {% if  form.vars.value.id %}
        Campagne {{ form.vars.value.name }}
    {% else %}
        Création d'une nouvelle campagne
    {% endif %}
{% endblock %} 

{% block board_content %}

    {{ form_start(form) }}

        <div>
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}            
        </div>
    
    {{ form_end(form) }}

{% endblock %}