{% extends '::base.html.twig' %}

{% block body %}
    <h1 class="page-header">Liste des joueurs</h1>
    <a href="{{ path('manage_player') }}" id="create-player">
        Créer un nouveau joueur
    </a>
    {% if players is not empty %}
        <ul>
        {% for player in players %}
            <li>
                <a href="{{ path('manage_player', {id: player.id}) }}" id="player-{{ player.id}}">{{ player.nickname }} <small>({{ player.characters|length }} characters)</small></a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <div class="alert alert-warning">
        Aucun joueur n'est enregistré.
    </div>
    {% endif %}
{% endblock %}