{% extends '::base.html.twig' %}

{% block body %}

    <h1 class="page-header">
        {% if  form.vars.value.id %}
            Modification du joueur {{ form.vars.value.nickname }}
        {% else %}
            Création d'un nouveau joueur
        {% endif %}
    </h1>
    {{ form_start(form) }}
        
        {{ form_errors(form) }}
        
        <div>
            {{ form_label(form.nickname) }}
            {{ form_errors(form.nickname) }}
            {{ form_widget(form.nickname) }}
        </div>
    
    {{ form_end(form) }}

{% endblock %}