{% extends 'DkSystemBundle::board.html.twig' %}

{% block title %}
    {% if  form.vars.value.id %}
        Modification du personnage {{ form.vars.value.firstname }}
    {% else %}
        Création d'un nouveau personnage joueur
    {% endif %}
{% endblock %}
    
{% block board_content %}
 
    {{ form_start(form, {role: 'form'}) }}

        <div class="form-group">
            {{ form_label(form.firstname) }}
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname, {attr: {class: "form-control" }}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.lastname) }}
            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname, {attr: {class: "form-control" }}) }}
        </div>

        {{ form_widget(form.submit, {attr: {class: 'btn btn-success'}}) }}
        
    {{ form_end(form) }}


{% endblock %}