{% extends 'DkSystemBundle::board.html.twig' %}

{% block title %}
    {% if  form.vars.value.id %}
        Modification du personnage {{ form.vars.value.firstname }}
    {% else %}
        Création d'un nouveau personnage joueur
    {% endif %}
{% endblock %}

{% form_theme form _self %}

{% block _pc_characteristics_entry_widget %}
    <dt>{{ form.vars.value.rulesetcharacteristic}}</dt>
    <dd>{{ form_widget(form.value, {attr: {size: 2, class: "form-control input-sm"}}) }}</dd>
{% endblock %}

{% block _pc_skills_entry_widget %}
    <strong>
        {{ form.vars.value.rulesetskill.name}}
        {% if form.vars.value.rulesetskill.overloadmalus %}
            *
        {% endif %}
    </strong>
    <small> ( {{ form.vars.value.rulesetskill.char1}} / {{ form.vars.value.rulesetskill.char2}} ) </small>
    {{ form_widget(form.value, {attr: {size: 2, style:"width: 30px; display: inline-block;", class: "form-control input-sm"}}) }}
{% endblock %}

{% block board_content %}
 
    {{ form_start(form, {attr: {role: 'form', novalidate: 'novalidate'}}) }}
        
        {% if pc.campaign is not null %}
            <div class="alert alert-info">
                <p>Ce personnage évolue dans la campagne <strong>{{ pc.campaign }}</strong></p>
                <p>Système de règle : <strong>{{ pc.campaign.ruleset }}</strong>
            </div>
        {% else %}
            <div class="alert alert-warning">
                <p>Ce personnage n'est pas intégré à une campagne existante. Il est impossible de définir plus d'informations le concernant.</p>
               </div>
        {% endif %}
        
        <div class="row">
            
            <div class="col-sm-3">
            
                <div class="form-group">
                    {{ form_label(form.firstname) }}
                    {{ form_errors(form.firstname) }}
                    {{ form_widget(form.firstname, {attr: {class: "form-control" }}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.lastname) }}
                    {{ form_errors(form.lastname) }}
                    {{ form_widget(form.lastname, {attr: {class: "form-control" }}) }}
                </div>
            </div>
            <div class="col-sm-3">
             
                <div class="form-group">
                        <dl class="dl-horizontal chars-vertical">
                            {% for char in form.characteristics %}
                                {{ form_widget(char, {attr: {size: 2}}) }}
                            {% endfor %}
                        </dl>
                </div>
            </div>
        </div>
         
                        
        <div>
            {% for skill in form.skills %}
                <div>{{ form_widget(skill, {attr: {size: 2}}) }}</div>
            {% endfor %}
        </div>
                        
        <div class="form-group">
            {{ form_widget(form.submit, {attr: {class: 'btn btn-success'}}) }}
        </div>
         
    {{ form_end(form) }}


{% endblock %}