{% extends 'DkSystemBundle::board.html.twig' %}

{% block title %}
    {% if  form.vars.value.id %}
        Modification du personnage {{ form.vars.value.firstname }}
    {% else %}
        Création d'un nouveau personnage joueur
    {% endif %}
{% endblock %}

{% form_theme form 'DkSystemBundle:PlayerCharacter:form/theme/pc.form.fields.html.twig' %}

{% block board_content %}

    {{ form_start(form, {attr: {role: 'form', novalidate: 'novalidate', class: 'panel-medieval-style form-horizontal'}}) }}
        
        {% if pc.campaign is not null %}
            <div class="alert alert-info">
                <p>Ce personnage évolue dans la campagne <strong>{{ pc.campaign }}</strong></p>
                <p>Système de règle : <strong>{{ pc.campaign.ruleset }}</strong>
            </div>
        {% else %}
            <div class="alert alert-warning">
                <p>Ce personnage n'est pas intégré à une campagne existante. Il est impossible de définir plus d'informations le concernant.</p>
            </div>
        {% endif %}


        <div class="form-group">
            <div class="col-sm-4">
               <div class="sheet-block">
                    {{ include('DkSystemBundle:PlayerCharacter:form/blocks/information.html.twig') }}
               </div>
            </div>

            <div class="col-sm-4">
                <div class="sheet-block">
                    {{ include('DkSystemBundle:PlayerCharacter:form/blocks/chars.html.twig') }}
                </div>
            </div>
        </div>

        {% if pc.campaign is not null %}
            <div class="form-group">
                <div class="col-md-8">
                    <div class="sheet-block">
                        {{ include('DkSystemBundle:PlayerCharacter:form/blocks/assets.html.twig') }}
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="sheet-block">
                        {{ include('DkSystemBundle:PlayerCharacter:form/blocks/skills.html.twig') }}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="form-group">
               <div class="col-lg-12">
                   <div class="sheet-block">
                        {{ form_widget(form.submit, {attr: {class: 'btn btn-success'}}) }}
                    </div>
               </div>

        </div>

    {{ form_end(form) }}

    <script type="text/javascript">
        $(document).on('ready', function() {
            $('.skill-desc, .popover-trigger').popover()
        });
    </script>

{% endblock %}